@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './function.scss';
@import './element-ui.scss';
@import './sidebar.scss';

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

fieldset {
  border-width: 1px;
  border-color: #ebeef5;
}

html {
  height: 100%;
  box-sizing: border-box;
  color: #303133;
  background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  font-size: 14px;
}

#app{
  height: 100%;
}

.hover-cursor:hover {
  cursor: pointer;
}

.grid-system{
  z-index:9999;
  .grid-canvas{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9998;
    display: none;
  }
  .toggle-grid{
    position: fixed;
    right: 15px;
    bottom: 12px;
    top:auto;
    width:20px;
    height:20px;
    font-size:20px;
    opacity: .2;
    z-index: 9999;
  }
}

// 表格operation
.operation-btns {
  font-size: 18px;

  i {
    margin: 0 8px;
  }

  .el-icon-edit-outline {
    color: $blue;

    @include hoverCursor;
  }

  .el-icon-delete {
    color: $red;

    @include hoverCursor;
  }
}

//main-container全局样式
.app-container {
  padding: 30px;
  background-color: #ffffff;
}

.components-container {
  margin: 32px 48px;
  position: relative;
}

.pagination-container {
  margin-top: 32px;
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

.upload-file-wrapper {
  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    opacity: 0;
  }
  .file {
    margin-top: 8px;
    height: 120px;
    width: 120px;
    object-fit: cover;
  }
}
