@import './variables.scss';
@import './mixin.scss';
@import './function.scss';
@import './element-ui.scss';
@import './sidebar.scss';

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

fieldset {
  border-width: 1px;
  border-color: #ebeef5;
}

html {
  height: 100%;
  box-sizing: border-box;
  color: #606266;
}

#app{
  height: 100%;
}

.hover-cursor:hover {
  cursor: pointer;
}

//main-container全局样式
.app-container {
  padding: 15px;
}

.components-container {
  margin: 32px 48px;
  position: relative;
}

.pagination-container {
  margin-top: 32px;
}

.filter-container {
  padding-bottom: 10px;
  .filter-item {
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-bottom: 10px;
  }
}

.upload-file-wrapper {
  input {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
  }
  .file {
    margin-top: 8px;
    height: 120px;
    width: 120px;
    object-fit: cover;
  }
}
