#app {
  .main-container {
    position: relative;
    display: flex;
    padding: 26px 0 30px;
    margin: 0 auto;
    width: 1200px;
  }

  .app-main {
    flex: 1;
    margin-left: 215px;
    background-color: #ffffff;
  }

  .sidebar-container {
    position: absolute;
    width: 190px!important;
    background-color: #ffffff;

    .menu-block {
      padding: 16px 16px 0;
      border-bottom: 1px solid #f6f6f6;

      .menu-header {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: bolder;
        color: #303133;
      }

      .menu-list {
        color: #606266;
        font-size: 12px;
      }
    }

    a {
      display: inline-block;
      width: 50%;
      margin-bottom: 16px;

      &.router-link-active {
        color: #409EFF;
      }
    }

    .svg-icon {
      margin-right: 16px;
      color: #66b1ff;
    }
  }
}


// media
@media (max-width: 768px) {
  #app {
    .main-container {
      width: 100%;
    }
  }
}